[Unit]
Description=service1
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=3
ExecStartPre=-/usr/bin/docker rm service1
ExecStart=/usr/bin/docker run --rm --name service1 \
  -v /etc/service1/config.toml:/config.toml \
  -p 127.0.0.1:{{ v.local_port }}:8000 my/service1:latest >> /var/log/service1/server.log

[Install]
WantedBy=multi-user.target
